#main--container-image {
    width: 220px;
    height: 300px;
    margin: 0 auto;
    /* margin-bottom: 50px; */
    background-image: url('../assets/Bitcoin.svg');
    background-position: center;
    background-repeat: no-repeat;
}

#main--currency-table{
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

#container-table {
    margin: 0 auto;
}

table {
    margin: 0 auto;
}

#paragraph-updates {
    margin: 20px auto;
}

.down {
    display: inline-block;
    width: 25px;
    height: 10px;
    margin-left: 10px;
    background-image: url('/src/assets/icons/trending-down\ 1.svg');
    background-repeat: no-repeat;
}

.up {
    display: inline-block;
    width: 25px;
    height: 10px;
    margin-left: 10px;
    background-image: url('/src/assets/icons/trending-up\ 1.svg');
    background-repeat: no-repeat;
}

table tr td {
    border: 1.5px #FAF8F7 solid ;
    background-color: white;
    width: 20%;
    font-size: .9rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: grey;
    text-align: center;
}

#iconBatata {
    top: -10px;
    left: calc(50% - 20px);
    background-image: url('../assets/icons/Group-17.svg');
}

#titleSection {
    margin: 0 auto;
}

article {
    margin: 15px auto;
}

#iconClock {
    display: inline-block;
    width: 50px;
    height: 25px;
    /* margin-bottom: 10px; */
    background-image: url('../assets/icons/clock-1.svg');
    background-repeat: no-repeat;
}

#iconView {
    display: inline-block;
    width: 50px;
    height: 25px;
    /* margin-bottom: 10px; */
    background-image: url('../assets/icons/eye-1.svg');
    background-repeat: no-repeat;
}
#iconDinero {
    display: inline-block;
    width: 50px;
    height: 25px;
    /* margin-bottom: 10px; */
    background-image: url('../assets/icons/dollar-sign1.svg');
    background-repeat: no-repeat;
}
#iconCheck {
    display: inline-block;
    width: 50px;
    height: 25px;
    /* margin-bottom: 10px; */
    background-image: url('../assets/icons/check-circle1.svg');
    background-repeat: no-repeat;
}

#imageOrange {
    background-image: url('../assets/icons/bitcoinbaby1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#plansTitle {
    margin: 0 auto;
}

#articleCard {
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

#recomended {
    top: -15px;
    left: 50%;
    transform: translate(-50%);
}

#spanButton {
    display: inline-block;
    width: 25px;
    vertical-align:bottom;
    height: 25px;
    background-repeat: no-repeat;
    background-image: url('../assets/icons/arrow-right21.svg');
}

